# .coveragerc to control coverage.py
[run]
branch = True
omit =
    #omit anything in .local directory anywhere
    */.local/*
    #omit everything in /usr
    */usr/*
    #omit everthing in /Users
    */Users/*

source =
    .

omit =
# omit all tests
    */tests/*
    hc/test.py

[report]
ignore_errors = True

[html]
#Directory to hold html coverage report
directory = coverage_html_report
